<html ng-app="expensesApp">
	<head>
		<meta chaset="utf-8">
		<title>Simple Expenses Tracker</title>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body ng-controller="ExpensesViewController">
		<h1>{{phrase}}</h1>
		{{expenses.description}} - {{expenses.amount}}
		<button ng-click="increaseAmount()">Increase amount</button>
		<div style="margin-top:15px">
			<input ng-model="expenses.description"  type="text">
		</div>
		<div style="margin-top:15px">
			<input ng-model="expenses.amount"  type="text">
		</div>
		<div style="margin-top:15px">
			<textarea ng-model="phrase"></textarea>
		</div>

	</body>
</html>